@model IndexPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
<div class="col-12">
<div class="row">
    <div class="col-lg-7 m-2 order-lg-1 order-md-2 order-sm-2 order-2">
        <h3> Recent items </h3>
        @foreach (var (item, collection) in Model.ItemCollectionDictionary)
        {
            <div class="row jumbotron d-flex" id="@item.Id">
                <div class="col-12">
                    @{ var itemUserDictionary = Model.ItemUserDictionary; }
                    <p class="text-secondary">
                        @itemUserDictionary[item].UserName
                    </p>
                </div>
                <div class="col-sm-5 text-secondary">
                    <div class="row">
                        @if (User.IsInRole("admin"))
                        {
                            <div class="col-12">
                                <a asp-area="Identity" asp-page="/Account/Manage/ManageCollection" asp-all-route-data='new Dictionary<string, string> { { "id", collection.Id.ToString() } }'>
                                    <button type="button" class="btn btn-light btn-block">
                                        <i class="fa fa-solid fa-pencil"></i>
                                    </button>
                                </a>
                            </div>
                        }
                        <div class="col-12">
                            <h4>
                                <a asp-controller="Collection" asp-action="Items" asp-route-collectionId="@collection.Id">
                                    @collection.Name
                                </a>
                            </h4>
                            <img class="img-fluid img-thumbnail" src="@collection.ImageUrl" alt="Collection Image">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    @if (User.IsInRole("admin"))
                    {
                        <div class="row">
                            <div class="col-12">
                                <a asp-area="Identity" asp-page="/Account/Manage/ManageItem" asp-all-route-data='new Dictionary<string, string> { { "id", item.Id.ToString() } }'>
                                    <button type="button" class="btn btn-light btn-block">
                                        <i class="fa fa-solid fa-pencil"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-5">
                            <h5> @item.Name </h5>
                        </div>
                        <div class="col-sm-7">
                            <h6 class="text-secondary"> @item.PublicationDate.ToString("g") </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.FirstOptionalBoolFieldVisible)
                            {
                                var answer = item.FirstOptionalBoolField ? "yes" : "no";
                                <p class="text-secondary">
                                    @collection.FirstOptionalBoolFieldName: @answer
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.SecondOptionalBoolFieldVisible)
                            {
                                var answer = item.SecondOptionalBoolField ? "yes" : "no";
                                <p class="text-secondary">
                                    @collection.SecondOptionalBoolFieldName: @answer
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.ThirdOptionalBoolFieldVisible)
                            {
                                var answer = item.ThirdOptionalBoolField ? "yes" : "no";
                                <p class="text-secondary">
                                    @collection.ThirdOptionalBoolFieldName: @answer
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.SecondOptionalBoolFieldVisible)
                            {
                                var answer = item.SecondOptionalBoolField ? "yes" : "no";
                                <p class="text-secondary">
                                    @collection.SecondOptionalBoolFieldName: @answer
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.FirstOptionalDateTimeFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.FirstOptionalDateTimeFieldName: @item.FirstOptionalDateTimeField.ToShortDateString()
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.FirstOptionalDateTimeFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.FirstOptionalDateTimeFieldName: @item.FirstOptionalDateTimeField.ToShortDateString()
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.SecondOptionalDateTimeFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.SecondOptionalDateTimeFieldName: @item.SecondOptionalDateTimeField.ToShortDateString()
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.ThirdOptionalDateTimeFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.ThirdOptionalDateTimeFieldName: @item.ThirdOptionalDateTimeField.ToShortDateString()
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.FirstOptionalNumberFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.FirstOptionalNumberFieldName: @item.FirstOptionalNumberField
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.SecondOptionalNumberFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.SecondOptionalNumberFieldName: @item.SecondOptionalNumberField
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.ThirdOptionalNumberFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.ThirdOptionalNumberFieldName: @item.ThirdOptionalNumberField
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.FirstOptionalStringFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.FirstOptionalStringFieldName: @item.FirstOptionalStringField
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.SecondOptionalStringFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.SecondOptionalStringFieldName: @item.SecondOptionalStringField
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.ThirdOptionalStringFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.ThirdOptionalStringFieldName: @item.ThirdOptionalStringField
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.FirstOptionalTextFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.FirstOptionalTextFieldName: @Html.Raw(item.FirstOptionalTextField)
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.SecondOptionalTextFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.SecondOptionalTextFieldName: @Html.Raw(item.SecondOptionalTextField)
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (collection.ThirdOptionalTextFieldVisible)
                            {
                                <p class="text-secondary">
                                    @collection.ThirdOptionalTextFieldName: @Html.Raw(item.ThirdOptionalTextField)
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-secondary">Tags: @Model.ItemTagsDictionary[item]</p>
                        </div>
                    </div>
                     </div>
            </div>
        }
    </div>
<div class="col-lg-4 m-2 order-lg-2 order-md-1 order-sm-1 order-1">
    <h3> Largest Collections </h3>
    <section class="sticky-top">
        @foreach (var collection in Model.CollectionsWithMostItems)
        {
            <div class="row jumbotron">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-area="Identity" asp-page="/Account/Manage/ManageCollection" asp-all-route-data='new Dictionary<string, string> { { "id", collection.Id.ToString() } }'>
                                    <button type="button" class="btn btn-light btn-block">
                                        <i class="fa fa-solid fa-pencil"></i>
                                    </button>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <a asp-controller="Collection" asp-action="Items" asp-route-collectionId="@collection.Id">
                                    @collection.Name
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-secondary">
                                @collection.Theme
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid img-thumbnail" src="@collection.ImageUrl" alt="collection image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                @Html.Raw(collection.ShortDescription)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
</div>
<div class="row">
    <div class="col-12">
            <nav aria-label="pagination">
                <ul class="pagination">
                    @{
                        var pageItemClasses = "page-item";
                        if (!Model.PaginationModel.HasPreviousPage)
                        {
                            pageItemClasses += " disabled";
                        }
                    }
                    <li class="@pageItemClasses">
                        @{ var prevPage = Model.PaginationModel.PageNumber - 1; }
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@prevPage">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">
                            @(Model.PaginationModel.PageNumber + 1)
                        </a>
                    </li>
                    @{
                        pageItemClasses = "page-item";
                        if (!Model.PaginationModel.HasNextPage)
                        {
                            pageItemClasses += " disabled";
                        }
                    }
                    <li class="@pageItemClasses">
                        @{ var nextPage = Model.PaginationModel.PageNumber + 1; }
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@nextPage">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>